  
h1 {
    color: white;
    text-align: center;
    font-size: 6vw;
    margin: 0;
  }

h2 {
    color: white;
    text-align: center;
    font-size: 3vw;
    margin: 0;
  }
  
p {
    font-family: verdana;
    font-size: 2vw;
  }

.row {
    display: flex;
  }
  
.column {
    flex: 50%;
  }

.title {
    /* background-image: image("images/Main/banner.jpg"); */
    background-size: 100%;
    padding-top: 2vw;
    padding-bottom: 2vw;
    padding-left: 2vw;
}



body {
  background-color: lightblue;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.navigation{
    background-color: black;
    display: flex;
}

#about {
    font-family: verdana;
    font-size: 2vw;
    display: inline;
    visibility: visible;
    width: 100%;
}

#projects {
  font-family: verdana;
  font-size: 2vw;
  display: none;
  visibility: visible;
}

#test {
  font-family: verdana;
  font-size: 2vw;
  display: inline;
  visibility: visible;
  background-color: #32a1ce;
  width: 100%;
}

#qualifications {
  font-family: visible;
  font-size: 2vw;
  display: none;
  visibility: visible;
}

#resources {
  font-family: verdana;
  font-size: 2vw;
  display: none;
  visibility: visible;
}

.footer {
  margin-top: auto;
  left: 0;
  bottom: 0;
  width: 100%;
  background-image: image('images/Main/banner.jpg');
  background-size: 100%;
  color: white;
  text-align: center;
}

.collapse {
  &:not(.show) {
    display: none;
  }
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.carousel-item {
  height: 30rem;
  /* position:relative; */
  background-position: center;
  /* background-size: cover; */
}

.container {
  position: absolute;
  bottom:0;
  left:0;
  right:0;
  padding-bottom: 50px;
}


